@import url('https://fonts.googleapis.com/css?family=Quicksand: 100,200,300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Audiowide');

body {
    overflow-x: hidden;
    font-family: "Quicksand", sans-serif;
    background-color: #003366;

}
 /*--Nav Scrolling Offset--*/
.offset:before {
height: 62px;
margin-top: -62px;
content: "";
display: block; 
}

 /*--Extra bootstrap column padding--*/ /*--1 Rem=16px--*/
[class*="col-"] {
    padding: 1rem;
}

/*======NAVIGATION=======*/
.navbar {
    padding: .6rem 1rem;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .1rem;
    background-color: #fff;
}
.navbar-brand img {
height: 7rem;
}
.navbar-nav .nav-link {
color: #003366;
padding-top: 3rem;
}
.navbar-nav .nav-link:hover {
    color: #29b6f6
}
.dropdown-menu {
    width: 200px;
    height: 200px;
    background-color: #29b6f6;
}
.dropdown-menu a:hover {
color: #29b6f6;
}
.dropdown-item {
font-weight: bold;
color: #fff;
}
.fa-bars {
    font-size: 40px;
    color: #29b6f6;
}
/*======Landing Page=======*/
.home-inner {
    background: url(../images/landing-page.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 800px;
}
.caption {
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 35%;
    z-index: 1;
}
.caption h3 {
	color: #003366;
	font-size: 2.4rem;
	text-transform: uppercase;
	padding-bottom: 2rem;
}
.btn {
max-width: 400px;
padding: 15px;
color: #fff; 
background-color: #003366;
font-size: 20px;
font-weight: bold;
text-transform: uppercase;
opacity: .8;
border-radius: 0;
border-width: medium;

}
.btn:hover {
    color: #003366;
}




 /*
Extra-small (xs) devices (portrait phones, less than 576px)
- Requires no media queries since this is Boostrap default

Small (sm) devices (landscape phones, 576px and above)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and above)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and above)
@media (min-width: 992px) { ... }

Extra-large (xl) devices (large desktops, 1200px and above)
@media (min-width: 1200px) { ... }
*/